@font-face {
  font-family: "EFCircularWeb-Black";
  src: url("../../fonts/EFCircularWeb-Black.woff") format("woff2"), url("../../fonts/EFCircularWeb-Black.woff") format("woff"); }

@font-face {
  font-family: "circular-bold";
  src: url("../../fonts/EFCircularWeb-Bold.woff") format("woff2"), url("../../fonts/EFCircularWeb-Bold.woff") format("woff"); }

@font-face {
  font-family: "circular-medium";
  src: url("../../fonts/EFCircularWeb-Medium.woff") format("woff2"), url("../../fonts/EFCircularWeb-Medium.woff") format("woff"); }

@font-face {
  font-family: "circular-book";
  src: url("../../fonts/EFCircularWeb-Book.woff") format("woff2"), url("../../fonts/EFCircularWeb-Book.woff") format("woff"); }

body {
  font-family: "circular-book"; }

h1.h1 {
  font-family: "circular-bold";
  font-size: 32px;
  line-height: 1.05em;
  margin: 60px 0; }
  @media (min-width: 414px) {
    h1.h1 {
      font-size: calc(2.25989vw + 22.64407px); } }
  @media (min-width: 768px) {
    h1.h1 {
      font-size: calc(1.19048vw + 30.85714px); } }
  @media (min-width: 1440px) {
    h1.h1 {
      font-size: 48px; } }
  @media (max-width: 768px) {
    h1.h1 {
      line-height: 1.125em; } }
  @media (max-width: 414px) {
    h1.h1 {
      line-height: 1.25em; } }
  @media (max-width: 414px) {
    h1.h1 {
      margin: 40px 0; } }

h2.h2 {
  font-family: "circular-bold";
  font-size: 26px;
  line-height: 1.25em;
  margin: 40px 0; }
  @media (min-width: 414px) {
    h2.h2 {
      font-size: calc(1.69492vw + 18.98305px); } }
  @media (min-width: 768px) {
    h2.h2 {
      font-size: calc(0.59524vw + 27.42857px); } }
  @media (min-width: 1440px) {
    h2.h2 {
      font-size: 36px; } }
  @media (max-width: 414px) {
    h2.h2 {
      line-height: 1.15384615em; } }

h3.h3 {
  font-family: "circular-bold";
  font-size: 22px;
  line-height: 1.25em;
  margin: 40px 0 20px; }
  @media (min-width: 414px) {
    h3.h3 {
      font-size: calc(0.56497vw + 19.66102px); } }
  @media (min-width: 768px) {
    h3.h3 {
      font-size: calc(0.59524vw + 19.42857px); } }
  @media (min-width: 1440px) {
    h3.h3 {
      font-size: 28px; } }
  @media (max-width: 414px) {
    h3.h3 {
      line-height: 1.13636364em; } }

h4.h4 {
  font-family: "circular-medium";
  font-size: 18px;
  line-height: 1.22222222em;
  margin: 40px 0 20px; }
  @media (min-width: 414px) {
    h4.h4 {
      font-size: calc(1.12994vw + 13.32203px); } }
  @media (min-width: 768px) {
    h4.h4 {
      font-size: calc(0.29762vw + 19.71429px); } }
  @media (min-width: 1440px) {
    h4.h4 {
      font-size: 24px; } }
  @media (max-width: 414px) {
    h4.h4 {
      line-height: 1.11111111em; } }

h1.h1,
h2.h2,
h3.h3,
h4.h4 {
  color: #000000; }
  h1.h1--accent,
  h2.h2--accent,
  h3.h3--accent,
  h4.h4--accent {
    padding-bottom: 20px;
    position: relative; }
    h1.h1--accent:after,
    h2.h2--accent:after,
    h3.h3--accent:after,
    h4.h4--accent:after {
      content: "";
      width: 60px;
      background: #000000;
      height: 5px;
      position: absolute;
      bottom: 0;
      left: 0; }

b.b {
  font-family: "circular-medium"; }

p.p {
  font-family: "circular-book";
  font-size: 14px;
  line-height: 1.5em;
  max-width: 53em;
  color: rgba(0, 0, 0, 0.6);
  margin: 20px 0; }
  @media (min-width: 768px) {
    p.p {
      font-size: calc(0.29762vw + 11.71429px); } }
  @media (min-width: 1440px) {
    p.p {
      font-size: 16px; } }
  @media (max-width: 414px) {
    p.p {
      line-height: 1.3em; } }

a.a {
  text-decoration: underline; }

.hr {
  border-color: rgba(0, 0, 0, 0.05);
  border-style: dashed;
  border-width: 1px;
  margin: 20px -40px; }
  @media (max-width: 414px) {
    .hr {
      margin: 20px -20px; } }
  .hr--alt {
    border-color: rgba(255, 255, 255, 0.1); }

.fas {
  font-size: 16px; }
  @media (min-width: 768px) {
    .fas {
      font-size: calc(0.29762vw + 13.71429px); } }
  @media (min-width: 1440px) {
    .fas {
      font-size: 18px; } }
