// variable

// colors
$color-1: #ffffff;
$color-2: #111;
$color-3: #ed008b;  
$color-black-05: rgba(0, 0, 0, 0.05);
$color-black-10: rgba(0, 0, 0, 0.1); 
$color-black-20: rgba(0, 0, 0, 0.2); 
$color-black-40: rgba(0, 0, 0, 0.4);
$color-black-60: rgba(0, 0, 0, 0.6);
$color-black-80: rgba(0, 0, 0, 0.8); 
$color-white-05: rgba(255, 255, 255, 0.05);  
$color-white-10: rgba(255, 255, 255, 0.1);
$color-white-20: rgba(255, 255, 255, 0.2);
$color-white-40: rgba(255, 255, 255, 0.4);
$color-white-60: rgba(255, 255, 255, 0.6);
$color-white-80: rgba(255, 255, 255, 0.8);
$color-live: limegreen;

// widths
$mobile: 414px;
$tablet-portrait: 768px;
$tablet-landscape: 1440px;

// units
$spacing-unit: 10px;
$fractional-unit: 1fr;
